@media screen and (max-width: 576px) {
  .react-player {
    width: 100% !important;
    height: 35vh !important ;
  }
}
@media screen and (max-width: 767px) {
  .react-player {
    width: 100% !important;
    height: 42vh !important;
  }
}
